@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,500&display=swap');

$VeryDarkGray: hsl(0, 0%, 17%);
$DarkGrays: hsl(0, 0%, 59%);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Rubik', sans-serif;
}

.container {
	height: 100vh;
	position: relative;
	overflow: hidden;
	z-index: 10;
}

header {
	display: flex;
	align-items: center;
	flex-direction: column;
	background: url(../public/images/pattern-bg.png);
	background-size: cover;
	gap: 2rem;
	padding: 2rem 0;
	height: 17rem;

	.title {
		color: white;
		font-weight: 400;
	}
}

.input-section {
	height: 60px;
	display: flex;

	input {
		height: inherit;
		width: 500px;
		font-size: 18px;
		padding-left: 25px;

		border-radius: 15px 0 0 15px;
		border: none;
		outline: none;
	}

	button {
		width: 60px;
		border-radius: 0 25% 25% 0;
		background: black url(../public/images/icon-arrow.svg);
		background-position: center;
		background-repeat: no-repeat;

		border: none;
		outline: none;
		transition: all 0.3s ease-in-out;
		cursor: pointer;

		&:hover {
			background-color: $VeryDarkGray;
		}
	}
}

.info {
	padding: 0 2rem;
	width: fit-content;
	background: white;
	border-radius: 15px;
	position: absolute;
	z-index: 10;
	top: 200px;

	display: flex;
	-webkit-line-clamp: 2;

	div {
		margin: 2.5rem;
		display: flex;
		flex-direction: column;

		width: min(170px);
		gap: 0.7rem;

		&:nth-child(1n + 2) {
			padding-left: 1rem;
			border-left: 1px solid rgb(217, 217, 217);
		}
	}

	.label {
		text-transform: uppercase;
		color: $DarkGrays;
		font-size: 0.813rem;
		font-weight: 700;
		letter-spacing: 0.1rem;
	}

	.data {
		font-size: 22px;
		font-weight: 700;
		color: $VeryDarkGray;
	}
}

@media (max-width: 768px) {
	.title {
		font-size: 1.5rem;
	}

	.input-section {
		width: 80%;

		input {
			width: 100%;
			font-weight: 500;
			font-size: 0.9rem;
		}
	}

	.info {
		flex-direction: column;
		align-items: center;
		width: 80%;

		div {
			margin: 1.2rem 0;

			&:nth-child(1n + 2) {
				padding-left: 0rem;
				border-left: none;
			}
		}
	}

	.box {
		margin: 0.8rem 0.5rem;
		width: fit-content;
		text-align: center;
	}

	.label {
		text-align: center;
		font-size: 12px;
		padding-top: 0.5rem;
	}
}

#mapid {
	height: inherit;
	z-index: -1;
}
